@model BT.Models.Account
@{
    ViewBag.Title = "Submit";
}

<div class="card text-center">
    <div class="card-header">
        <h2>Confirmation email has been sent to your account!</h2>
    </div>
    <div class="card-body">
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <div>
            @Html.ActionLink("Back to Home", "Index", "Home")
        </div>
    </div>
</div>